.booking {
    display: flex;
    gap: 30px;
    padding:32px 0px 32px 270px;
    flex-wrap: nowrap;

    &-mobile{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-top:20vh;
      max-width: 360px;
    }

    
    &__link-mobile {
      color: var(--blue-color1);
      padding-left: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
    }
    
    &__link-mobile-last {
        color:var(--grey-color1);
        font-size: 24px;
       }
    
    
    &__link {
    color: var(--grey-color1);
    fill: var(--grey-color1);
    font-size: 14px;
    line-height: 1.17em;
    }

    &__link:visited, &__link-mobile:visited{
    color: var(--black-color1);
    }

    .navbar__link:focus, .navbar__link:hover, &__link:focus,
    &__link:hover, &__link-mobile:hover, &__link-mobile:focus {
    color: var(--blue-color1);
    }

    &__link:focus .icon,
    &__link:hover .icon {
    fill: var(--blue-color1);
    }
}

@media (min-width: 768px) and (max-width: 1199.9px) {
  .booking {
    padding-top:21px;
    padding-bottom: 0px;
    padding-left: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}
}


@media (max-width: 767.9px) {
  .booking {
    display: none;
  }
}