.clients{
padding-top: 64px;
    &__cards {
    display: flex;
    gap: 30px;
    padding: 44px 0 151px;
    }
    &__links {
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 81px;
    width: 170px;
    }

    &__links:hover,
    &__links:focus {
    border: 1px solid #2196f3;
    }

    &__links:hover .icon,
    &__links:focus .icon {
    fill: var(--blue-color1);
    }
}

@media screen and (max-width: 1199px) {
  .clients{
padding-top: 64px;
    &__cards {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    }
  }
}