.footer {
  background-color: var(--black-color2);

  &__container {
    display: flex;
    flex: 1;
    gap: 45px;
    padding: 60px 0px 60px;
  }

  /*footer socials*/

  &__titles {
    box-sizing: content-box;
    color: var(--white-color1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 2.3em;
    text-transform: uppercase;
  }

  &__suscriber {
    padding-left: 48px;
  }

  &__emailsender {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--grey-color1);
    font-size: 16px;
    width: 358px;
    outline: none;
    padding: 16px 0 16px 16px;
  }

  &__button {
    align-items: center;
    border: none;
    border-radius: 4px;
    background: var(--blue-color1);
    color: var(--white-color1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85em;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 39px;
    text-align: center;
  }

  &__icon {
    vertical-align: middle;
  }
}

@media (min-width:450px) and (max-width: 767.9px) {
  .footer {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0;
      padding-top: 60px;
    }

    &__button {
      margin: 10px 90px;
    }

    &__titles {
    align-items: center;
    text-align: center;
    }

     &__suscriber {
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

   &__emailsender {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--grey-color1);
    font-size: 16px;
    width: 400px;
    outline: none;
    padding: 16px 0 16px 16px;
  }
  }
}


@media (min-width:768px) and (max-width: 1199.9px) {
  .footer {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 0;
      padding-top: 60px;
    }

    &__button {
      display: inline;
      margin: 10px 90px;
    }

    &__titles {
    align-items: center;
    text-align: center;
    }

     &__suscriber {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

   &__emailsender {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--grey-color1);
    font-size: 16px;
    width: 420px;
    outline: none;
    padding: 16px 0 16px 16px;
  }
  }
}

