.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 380px) and (max-width: 767.9px) {
  .header {
    display: flex;
    position: relative;
  }
}


