.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  font-style: normal;
  padding: 40px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}



.menu-toggle:hover,
.menu-toggle:focus {
  fill:  #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color:rgba(255, 255, 255, 1);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  display: block;
  padding: 10px;
  padding-left: 40px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
}

.mobile-menu .link:focus, .mobile-menu .link:hover {
  color:rgba(33, 150, 243, 1);
}

@media (min-width: 768px) {
  .menu-container {
    display: none;}
  .menu-toggle {
    display: none;
  }
  
.menu-container {
  width: 0;
}
}

@media (max-width: 767.9px) {
  .menu {
    display: none;
  }
}