.services{
    padding: 79px 0px 94px;
    &__list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 50px;
    }
    &__images {
    position: absolute;
    }
    &__description {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color1);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17em;
    margin-top: 224px;
    padding: 27px 0px 27px 0px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    width: 370px;
    height: 70px;
    z-index: 1;
    }
}

@media screen and (max-width: 1199px) {
    .services{
        &__list {
    flex-wrap: wrap;

    &__description {
     padding: 10px 0px 10px 0px;
    width: 200px;

 
    }
}
}
}