.values {
  .cards {
    display: flex;
    gap: 30px;
    padding-top: 89px;
    &__box {
      background-color: var(--white-color2);
      border-radius: 4px;
      padding: 100px;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 30px;
    }

    &__title {
      color: var(--black-color1);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 1.14em;
      padding-bottom: 10px;
      text-transform: uppercase;
      text-align: left;
    }

    &__text {
      color: var(--grey-color1);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 2em;
      word-wrap: break-word;
    }
  }
}


@media (min-width: 481px) and (max-width: 1199px ){
  .cards {
  margin: auto 0;
    flex-wrap: wrap;
    justify-content: space-around;
&__box {
      max-width: 354px;
    }

    &__title {
     max-width: 354px;
    }

    &__text {
    max-width: 354px;
    }
  }
}

@media (min-width: 360px) and (max-width: 480px ){
  .cards {
    align-items: center;
  margin: auto 0;
    flex-wrap: wrap;
    justify-content: center ;
&__box {
      max-width: 450px;
    }

    &__title {
     max-width: 450px;
    }

    &__text {
    max-width: 450px;
    }
  }
}