.values {
  justify-content: center;
  .cards {
    display: flex;
    gap: 30px;
    padding-top: 89px;
    align-items: baseline;
    

    &__box {
      background-color: var(--white-color2);
      border-radius: 4px;
      padding: 25px 100px 25px 100px;
      margin-bottom: 30px;
    }

    &__title {
      justify-content: center;
      align-items: center;
      color: var(--black-color1);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 1.14em;
      padding-bottom: 10px;
      text-transform: uppercase;
      text-align: left;
    }

    &__text {
      color: var(--grey-color1);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 2em;
      word-wrap: break-word;
    }
  }
}
@media (max-width: 479.8px) {
.values {
  .cards {
    max-width: 360px;
    flex-wrap: wrap;
    &__box {
      width: 354px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    &__title {
      max-width: 354px;
      text-align: center;
    }

    &__text {
      max-width: 354px;
    }
  }
}
}

@media (min-width: 479.9px) and (max-width: 767.9px) {
  .values {
  .cards {
    max-width: 480px;
    flex-wrap: wrap;
    margin: auto;
    &__box {
      max-width: 450px;
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    &__title {
      max-width: 450px;
      text-align: center;
    }

    &__text {
      max-width: 450px;
    }
  }
}
}

@media (min-width: 768px) and (max-width: 1199px) {

  .cards {
    max-width: 768px;
    flex-wrap: wrap;
    margin: auto;
    &__box {
      align-items: center;
      display: flex;
      padding: 0;
      justify-content: center;
      width: 354px;

    }

    &__title {
      max-width: 354px;
    }

    &__text {
      max-width: 354px;
    }
  }
}
