:root {
    --black-color1: #212121;
    --black-color2: #2f303a;
    --grey-color1: #757575;
    --grey-color2: #afb1b8;
    --white-color1: #ffffff;
    --white-color2: #f5f4fa;
    --white-color3: #ececec;
    --blue-color1: #2196f3;
}

